{% layout 'layout.liquid' %}

{% block content %}
<div>
    <h2>PLACES TO VISIT...{{username}}</h2>
    <div class="row">
            <!-- HERE show the posts, and thing showing with each post  as name:: address:: likes -->
        {% for place in places %}
        <div class="card" > <!--using "cards"make all the places transform in card-->
            <h5 class="card-header">{{place.name}}</h5>
            <div class="card-body">

                <a href="/places/{{place._id}}" class="btn btn-info view-place">View: {{place.name}}</a> <!--with this link href you can open individualy each places info-->
                <p>Address: {{place.address}}</p>
                <h5 class="likes-counter like-color btn btn-info" onclick="" >Likes: {{place.like}}</h5>
                <img src="/views/imgpost/2022-07-20T03:33:06.416Z.jpeg">
            </div>
        </div>
        {% endfor %}


    </div>
    
</div>
{% endblock %}