{% layout 'layout.liquid' %}
{% block content %}
     <p>Place Name: {{ place.name}}</p>
     <p>Place address: {{ place.address}}</p>
     <p>Likes: {{place.like}}</p>
     <p>Free: {{place.free}}</p>
     <a href="/places/{{place._id}}/edit">Edit</a>
     <form action="/places/{{place._id}}?_method=DELETE" method="POST">
        <input type="submit" value="Delete">

     </form>
{% endblock %}