{% layout 'layout.liquid' %}
{% block content %}
    <div class="container-md" style="position: relative;">
        <article class="card" class>

            <h2>{{ place.name}}</h2>
            <p>Address: {{ place.address}}</p>
            
            <p>Free: {{place.free}}</p>
            <a href="/places/{{place._id}}/edit">Edit</a>
            <form action="/places/{{place._id}}?_method=DELETE" method="POST" style="display: flex;">
                <input type="submit" value="Delete" class="nav-link text-light btn btn-info delete-back delete-btn">
                <a href="/places/" class="nav-link text-light btn btn-info delete-back back-btn" >Back </a>
                
            </form>
            <h5 class="likes-counter like-color" >Likes: {{place.like}}</h5>
        </article>
    </div>
{% endblock %}